Master Error Handler with Circuit Breaker Protection.json
{
  "name": "Master Error Handler with Circuit Breaker Protection",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "error-handler",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "d89fb78a-f2a2-4c77-8cb0-ed952104d484",
      "name": "Error Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -6432,
        976
      ],
      "webhookId": "REDACTED_WEBHOOK_ID"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "errorThreshold",
              "value": 10,
              "type": "number"
            },
            {
              "id": "id-2",
              "name": "errorTimeWindow",
              "value": 60,
              "type": "number"
            },
            {
              "id": "id-3",
              "name": "developerTag",
              "value": "<@DEVELOPER_ID>",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "36512fa3-f803-4c59-a299-65d65d7a9bea",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -6144,
        960
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "workflowName",
              "value": "={{ $json.body.workflowName || 'Unknown Workflow' }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "workflowId",
              "value": "={{ $json.body.workflowId || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "errorMessage",
              "value": "={{ $json.body.errorMessage || 'No error message provided' }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "failedNodeName",
              "value": "={{ $json.body.failedNodeName || 'Unknown Node' }}",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "failedNodeType",
              "value": "={{ $json.body.failedNodeType || 'Unknown Type' }}",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "executionId",
              "value": "={{ $json.body.executionId || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp || $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c641ccc4-67c9-4ba6-9b3e-f1c73bfe42c7",
      "name": "Extract Error Details",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -5920,
        960
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.errorCount }}",
              "rightValue": "={{ $('Workflow Configuration').first().json.errorThreshold }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a45e1e7c-bd7e-4dd1-ae5a-a66e63d109e8",
      "name": "Check Circuit Breaker Threshold",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -5472,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "// Logic for formatting message remains original\nconst errorDetails = $input.first().json;\nconst config = $('Workflow Configuration').first().json;\nconst timestamp = new Date().toISOString();\n\nconst formattedMessage = {\n  workflowName: errorDetails.workflowName || 'Unknown Workflow',\n  workflowId: errorDetails.workflowId || 'Unknown',\n  executionId: errorDetails.executionId || 'Unknown',\n  failedNode: errorDetails.failedNodeName || 'Unknown Node',\n  failedNodeType: errorDetails.failedNodeType || 'Unknown Type',\n  errorMessage: errorDetails.errorMessage || 'No error message provided',\n  timestamp: errorDetails.timestamp || timestamp,\n  developerTag: config.developerTag || '@developer',\n  discordMessage: `🚨 **Workflow Error Alert** 🚨\\n\\n...`,\n  slackMessage: `🚨 *Workflow Error Alert* 🚨\\n\\n...` \n};\n\nreturn [{ json: formattedMessage }];"
      },
      "id": "4127b4bf-249c-4cba-a967-309f13f11d1a",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5248,
        864
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REDACTED_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "alerts-channel"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "id": "d3ee739d-e3d6-4458-9022-edebac2ff449",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -5024,
        960
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://YOUR_INSTANCE.app.n8n.cloud/api/v1/workflows/{{ $json.workflowId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "n8nApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"active\": false}",
        "options": {}
      },
      "id": "7ced4eb8-a4f4-4b6d-9f06-17af82fda605",
      "name": "Disable Source Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -5248,
        1152
      ],
      "credentials": {
        "n8nApi": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Circuit breaker logic remains intact\nconst workflowConfig = $('Workflow Configuration').first().json;\nconst errorDetails = $('Extract Error Details').first().json;\nconst errorCount = $('Track Error Count in Memory').first().json.errorCount || 0;\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    slackMessage: `🚨 *CIRCUIT BREAKER TRIGGERED* 🚨...`,\n    workflowId: errorDetails.workflowId,\n    severity: 'critical'\n  }\n}];"
      },
      "id": "d38417be-0ac7-49f1-8b69-df4f319aa091",
      "name": "Format Circuit Breaker Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5024,
        1152
      ]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "REDACTED_CHANNEL_ID",
          "mode": "list",
          "cachedResultName": "alerts-channel"
        },
        "text": "={{ $json.slackMessage }}",
        "otherOptions": {}
      },
      "id": "91901159-b4a2-440f-a271-580b5b61d855",
      "name": "Send Circuit Breaker Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        -4800,
        1056
      ],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Memory tracking logic remains intact\nif (!global.workflowErrorTracking) {\n  global.workflowErrorTracking = new Map();\n}\nconst errorDetails = $('Extract Error Details').first().json;\nconst config = $('Workflow Configuration').first().json;\nconst workflowId = errorDetails.workflowId || 'Unknown';\n\nif (!global.workflowErrorTracking.has(workflowId)) {\n  global.workflowErrorTracking.set(workflowId, []);\n}\n\nlet errorTimestamps = global.workflowErrorTracking.get(workflowId);\nerrorTimestamps.push(Date.now());\n\nconst timeWindowMs = (config.errorTimeWindow || 60) * 1000;\nerrorTimestamps = errorTimestamps.filter(ts => ts > (Date.now() - timeWindowMs));\nglobal.workflowErrorTracking.set(workflowId, errorTimestamps);\n\nreturn [{ json: { ...errorDetails, errorCount: errorTimestamps.length } }];"
      },
      "id": "feb4f9f6-9e5c-48da-a259-6e280ab900a0",
      "name": "Track Error Count in Memory",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5696,
        960
      ]
    }
  ],
  "connections": {
    "Error Webhook": { "main": [[{ "node": "Workflow Configuration", "type": "main", "index": 0 }]] },
    "Workflow Configuration": { "main": [[{ "node": "Extract Error Details", "type": "main", "index": 0 }]] },
    "Extract Error Details": { "main": [[{ "node": "Track Error Count in Memory", "type": "main", "index": 0 }]] },
    "Track Error Count in Memory": { "main": [[{ "node": "Check Circuit Breaker Threshold", "type": "main", "index": 0 }]] },
    "Check Circuit Breaker Threshold": { 
      "main": [
        [{ "node": "Disable Source Workflow", "type": "main", "index": 0 }],
        [{ "node": "Format Error Message", "type": "main", "index": 0 }]
      ] 
    },
    "Format Error Message": { "main": [[{ "node": "Send Slack Alert", "type": "main", "index": 0 }]] },
    "Disable Source Workflow": { "main": [[{ "node": "Format Circuit Breaker Alert", "type": "main", "index": 0 }]] },
    "Format Circuit Breaker Alert": { "main": [[{ "node": "Send Circuit Breaker Slack Alert", "type": "main", "index": 0 }]] }
  },
  "meta": {
    "instanceId": "REDACTED_INSTANCE_ID"
  }
}
